* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

:root {
  --background-color: #f5f4f0;      
  --border-color: #d9d9d9;
  --text-color-primary: #1b1b1b;
--text-color-secundary:#333333;
--text-color-tertiary: #696969;
--text-color-headline: #e1624f;
--acent-color: #0c51a7;
--accent-color:#e95e10;
--accent-color: #e5245e;
--accent-color: #591b98;
}
body {
  background-color: var(--background-color);
  color: var(--text-color-secundary)

}