* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

:root {
  --background-color: #e7e4d62d;    
  --surface-color: #7577991f;  
  --border-color: #ec1c1c;
  --text-color-primary: #0f0c0c;
--text-color-secundary:#757799;
--text-color-tertiary: #0d3fe0;
--text-color-headline: #e1624f;
--acent-color: #0c51a7;
--accent-color:#e95e10;
--accent-color: #e5245e;
--accent-color: #591b98;

--font-family: "Open Sans", sans-serif;
--text-h1: bold 36px/100% var(--font-family);
--text-h2: bold 32px/100% var(--font-family);
--text-h3: bold 28px/100% var(--font-family);
--text-headline: bold 16px/130% var(--font-family);
--text-indice: bold 32px/170% var(--font-family);
--text-paragraph: normal 16px/130% var(--font-family);
--text-subtitle: italic 16px/130% var(--font-family);

}
body {
  font: var(--text);
  background-color: var(--background-color);
  color: var(--text-color-secundary)
}
a {
  text-decoration: none;
  color: inherit;

  }
a:hover {
  color: var(--border-color);
  text-decoration: underline;
}
.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}
.bg-surface-color {  
 background-color: var(--surface-color);
}