 nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 24px;
  padding-block: 10px;

 }
nav ul img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
}

  