 nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block: 10px;

 }
nav ul img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  align-items: center
}
div img {
  width: 180px;
  height: 180px;
  align-items: center;
}

  